button.btn{
    position: absolute;
    width: 35px;
    height: 60px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}

.group-color {
    position: absolute;
    width: 23%;
    height: 8rem;
    margin: 0 auto;
    left: 39%;
    bottom: 0%;
}