
.container {
    margin: 0 auto;
    text-align: -webkit-center;
    box-shadow: 5px 5px 10px 10px #999;
    top: 3rem;
    position: relative;
    width: 283px;
    height: 375px;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
.group-btn {
    /* height: 63%; */
    position: relative;
    top: 70px;
    /* margin: auto 0; */
}
#btn_zer0{
    width: 100px;
    text-align: left;
    padding-left: 1.1rem;
    border-radius: 45px!important;

}

button.button_container{
    border-radius: 50%;
    border: none;
    height: 43px;
    width: 43px;
    color: #fff;
    background: #212638;
    margin: 6px;
    cursor: pointer;
    font:"Roboto";
    size: 36px;
    line-height: 42.19px;


}
.labn_color{
    background-color: #8490FF !important;
}
.dblue{
background-color: #34509E !important;
}

.reseult {
    text-align: right;
    padding: 15px 3rem 15px 0rem;
    font-size: 2rem;
}
